In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./assests/data_studentlist.csv')

In [3]:
df.head()

              name gender  age  grade absence bloodtype  height  weight
0    Jared Diamond      M   23      3       Y         O   165.3    68.2
1   Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
2     Brian Martin      M   24      4       N         B   175.0    80.1
3     David Hassel      M   23      3       N        AB   182.1    85.7
4  Clara Rodriquez      F   20      1       Y         A   168.0    49.5

In [4]:
total = df.age.count()
male = df[(df['gender']=='M')].shape[0]
proportion = male/(total-male)
proportion

np.float64(1.4285714285714286)

In [5]:
male_height = df[df['gender']=='M']['height'].mean()
female_height = df[df['gender']=='F']['height'].mean()
print("Male height", male_height)
print("Female height", female_height)

Male height 172.41000000000003
Female height 166.64285714285714

In [6]:
print(df['bloodtype'].value_counts().idxmax())
print(df['bloodtype'].value_counts())

O
bloodtype
O     5
B     5
A     4
AB    3
Name: count, dtype: int64

In [7]:
df['height'] = df['height']/100

In [8]:
df['BMI'] = df['weight']/(df['height']*df['height'])

In [9]:
sorted_df = df.sort_values(by=['age', 'gender'])

In [10]:
pivot_table = df.pivot_table(
    index='gender',
    columns='bloodtype',
    aggfunc='size'
)
pivot_table

bloodtype  A  AB  B  O
gender
F          2   1  1  3
M          2   2  4  2