In [59]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [60]:
imdb = pd.read_csv('../../assests/imdb_rating.csv')
netflix = pd.read_csv('../../assests/netflix_title.csv')

In [61]:
print(imdb.isna().sum())
print("-------------------------")
print(netflix.isna().sum())

MOVIES         0
YEAR         644
GENRE         80
RATING      1820
ONE-LINE       0
STARS          0
VOTES       1820
RunTime     2958
Gross       9539
dtype: int64
-------------------------
Unnamed: 0.1       0
Unnamed: 0         0
show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [62]:
netflix.drop(columns=['show_id', 'date_added', 'cast', 'duration', 'description', 'listed_in', 'Unnamed: 0.1', 'Unnamed: 0'], inplace=True)

In [63]:
imdb.drop(columns=['ONE-LINE', 'STARS', 'RunTime', 'Gross'], inplace=True)

In [75]:
imdb[imdb.duplicated(subset=['MOVIES'])].sort_values(by='MOVIES', ascending=False)

,MOVIES,YEAR,GENRE,RATING,VOTES
5449,Wednesday,(I),NaN,NaN,NaN
5460,Wanderlust,(2006 TV Movie),"\nDocumentary, History",6.6,122
3772,Verónica,(II) (2017),"\nDrama, Mystery, Thriller",5.9,"1,342"
4126,Undercover,(2021– ),"\nCrime, Drama, Mystery",NaN,NaN
5119,Ultraman,NaN,"\nAnimation, Action, Adventure",NaN,NaN
...,...,...,...,...,...
7423,13 Reasons Why,(2017–2020),"\nDrama, Mystery, Thriller",5.7,"1,597"
8134,13 Reasons Why,(2017–2020),"\nDrama, Mystery, Thriller",6.2,"1,619"
7789,13 Reasons Why,(2017–2020),"\nDrama, Mystery, Thriller",5.1,"1,714"
8196,13 Reasons Why,(2017–2020),"\nDrama, Mystery, Thriller",6.1,"1,507"
8376,13 Reasons Why,(2017–2020),"\nDrama, Mystery, Thriller",5.9,"1,420"

In [53]:
imdb_df = pd.DataFrame(imdb)
highest_rating = imdb_df.loc[imdb_df.groupby('YEAR')['MOVIES'].idxmax()]
highest_rating['YEAR']

5213          (1932)
5915          (1933)
6089          (1938)
1373          (1941)
5424          (1944)
            ...
1645           (XII)
5868          (XIII)
5851    (XIV) (2017)
5558           (XLI)
4640         (XXIII)
Name: YEAR, Length: 438, dtype: object

In [54]:
# netflix['MOVIES'] = netflix['title']
# netflix.drop('title', axis=1)

In [55]:
# imdb.merge(netflix, on='MOVIES')